body {
    background-color: #111;
    color: #eee;
}
input[type='checkbox'], input[type='radio'] {
    height: 0px;
    width: 0px;
    opacity: 0;
}
input[type='checkbox']:not(:checked)+a, input[type='radio']:not(:checked)+a {
    filter: grayscale();
}
a, a:visited {
    text-decoration: none;
    color: #ffd100;
}
#picker {
    display:none;
}
.modal {
    position: absolute;
    margin: 20px;
    padding: 8px;
    z-index: 9;
    background: #111;
    border: 1px solid;
}
.modal > div {
    padding: 4px;
    margin: 2px;
    background-color:#ffffff09;

}
.resultgrid {
    display: grid;
    grid-template-columns: 1fr auto;
}
#abilityinfo {
    border-left: 2px solid #ffffff18;
}
#abilityinfo td {
    padding: 4px;

}
.dpsgrid {
    justify-self: center;
    align-self: center;
    text-align: center;
}
.dpsgrid div:first-child {
    color: #00ff00;
    font-size:xx-large;
}
.dpsgrid div:nth-child(2) {
    color: #ff8800;
    font-size: small;
}
.searchbar {
    width: 100%;
}
.itemgrid {
    display: grid;
    grid-template-columns: auto 1fr 18px 18px 18px 18px;
}
.itemgrid span {
    display: inline;
}
.itemgrid div, .itemgrid span {
    padding: 4px;
}
.itemgrid .gem, .itemgrid .enchant {
    justify-self: center;
}
#stats {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
#stats hr {
    border-color: #ffffff18;
}
#stats > div {
    justify-self: center;
    align-self: center;
    text-align: center;
}
#bottomgrid {
    display: grid;
    grid-template:
        "ra cs ab sb"
        "pb cs ab sb"
        "pa cs ab db"
        ".  mh oh db";
}
#races {
    grid-area: ra;
}
#petBuffs {
    grid-area: pb;
}
#petAbilities {
    grid-area: pa;
}
#consumes {
    grid-area: cs;
}
#activeBuffs {
    grid-area: ab;
}
#staticBuffs {
    grid-area: sb;
}
#debuffs {
    grid-area: db;
}
#mhStones {
    grid-area: mh;
}
#ohStones {
    grid-area: oh;
}
#topgrid {
    display: grid;
    grid-template:
        "r i i t"
        "h i i t"
        "c i i t";
}
#result {
    grid-area: r;
    min-height: 160px;
}
#character {
    grid-area: i;
}
#config {
    grid-area: c;
}
#history {
    grid-area: h;
}
#talents {
    grid-area: t;
}
.fieldsets fieldset {
    display: inline;
    vertical-align: top;
    border-color: #ffffff18;
}
.fieldsets fieldset input, .fieldsets fieldset select {
    background-color:#ffffff09;
    color:#eee;
    border: none;
    padding: 4px;
}
.fieldsets fieldset div {
    white-space: nowrap;
}
.formgrid {
    display: grid;
    grid-template-columns: auto 1fr;
}
.formgrid span {
    align-self: center;
}
.formgrid input, .formgrid select {
    margin: 2px;
    padding: 6px;
}
.fieldsets fieldset label {
    display: block;
    padding: 4px;
    margin: 2px;
    background: #ffffff09;
    white-space: nowrap;
}
.fieldsets fieldset .btn {
    cursor: pointer;
}
#history table {
    background-color: #ffffff09;
    border-collapse: collapse;
    border-spacing: 0px;
    width:100%;
}
#history table tr:not(:first-child) {
    border-top: solid 4px #111;
}
.fieldsets fieldset .btn:hover {
    background:#ffffff45;
}
a.icon {
    padding-left: 18px !important;
}
.icon.orc {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_orc_male.gif") left center no-repeat;
}
.icon.troll {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_troll_male.gif") left center no-repeat;
}
.icon.tauren {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_tauren_male.gif") left center no-repeat;
}
.icon.bloodelf {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_bloodelf_male.gif") left center no-repeat;
}
.icon.dwarf {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_dwarf_male.gif") left center no-repeat;
}
.icon.nightelf {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_nightelf_male.gif") left center no-repeat;
}
.icon.draenei {
    background: url("https://wow.zamimg.com/images/wow/icons/tiny/race_draenei_male.gif") left center no-repeat;
}
div.btn {
    text-align: center;
    padding: 8px;
    margin: 10px;
    border: 1px solid;
    cursor: pointer;
    background: #ffffff09;
}
div.btn:hover {
    background: #ffffff45;
}
fieldset hr {
    border-color: inherit;
}
.emptyred {
    border: solid 2px red;
    height: 3px;
    width: 3px;
    align-self: center;
    cursor: pointer;
}
.emptyblue {
    border: solid 2px blue;
    height: 3px;
    width: 3px;
    align-self: center;
    cursor: pointer;
}
.emptyyellow {
    border: solid 2px yellow;
    height: 3px;
    width: 3px;
    align-self: center;
    cursor: pointer;
}
.emptygreen {
    border: solid 2px green;
    height: 3px;
    width: 3px;
    align-self: center;
    cursor: pointer;
}
.emptymeta {
    border: solid 2px gray;
    height: 3px;
    width: 3px;
    align-self: center;
    cursor: pointer;
}
.tt > a, .tt > span {
    border-bottom: 1px dotted;
}
.tt .ttt {
    visibility: hidden;
    max-width:300px;
    padding: 8px;
    border-radius: 4px;
    position: absolute;
    background-color: #eee;
    color: #111;
    z-index: 1;
}
.tt:hover .ttt {
    visibility: visible;
    white-space: break-spaces;
}